includeConfig 'conf/tool_params.config'

params {
    data_version = 'main-programme_v17_2023-03-30'
    outdir       = "results"
    tracedir     = "${params.outdir}/pipeline_info"
    scratchdir   = "/nas/weka.gel.zone/re_scratch/rrodriguespereira/ssd"
    
    // sample input
    variant_type = 'coding'
    sample_file  = null

    // region input
    region_file     = null
    coding_file     = "/pgen_int_work/BRS/cancer_dev/discovery/somatic_driver_discovery/resources/global/coding_CDS.tsv.gz"
    non_coding_file = null
    bed_file        = "/pgen_int_work/BRS/cancer_dev/discovery/somatic_driver_discovery/resources/global/hg38.bed"
    mane_file       = "/public_data_resources/ensembl_cds/MANE/v1.0/MANE.GRCh38.v1.0.ensembl_genomic.gtf.gz"

    // genome build and alignment
    // genome_build = 'both'
    // dragen       = false

    // tool parameters config
    user_tool_params = tool_params
    
    // output
    // publish_all   = false
}

profiles {
    cluster { includeConfig 'conf/cluster.config' }
    cloud { includeConfig 'conf/cloud.config' }
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}
