containers {
    linux_container         = 'docker://docker-remote.artifactory.aws.gel.ac/ubuntu:20.04'
    r_container             = 'docker://docker-gel-research-containers.artifactory.aws.gel.ac/rdp_r:v4.2.1'
    bcftools_container      = 'docker://docker-gel-research-containers.artifactory.aws.gel.ac/bcftools:v1.16.1'
    python_container        = 'docker://docker-gel-research-containers.artifactory.aws.gel.ac/python:v3.11.4.1'
    dndscv_container        = 'docker://docker-quay-io.artifactory.aws.gel.ac/cbouwens/dndscv:0.23'
    mutenrich_container     = 'docker://docker-quay-io.artifactory.aws.gel.ac/cbouwens/mutenricher:1.0'
    oncodrivefml_container  = 'docker://docker-quay-io.artifactory.aws.gel.ac/cbouwens/oncodrivefml:2.2'
}
