tool_params {

    // MutEnricher parameters
    run_mutenricher = false
    // anno_type = "/path/to/nonsilent_terms.txt"
    anno_type = "cellbase"
    // gtf_gene_model_info: update this path according to dhelix or container.
    gtf_gene_model_info = "/mnt/v1.0/MANE.GRCh38.v1.0.ensembl_genomic.gtf.gz"
    // gene_list: provide "--gene-list <path>" OR null.
    gene_list = null
    // covariates_file: provide "--coveriates-file <path>" OR null.
    covariates_file = null
    // weights: provide "----covariate-weights <path>" OR null.
    weights = null
    // stat_type: nsamples = binomial test. nmutations = negative binomial test (the significance of mutation counts within genes/regions.)
    stat_type = "nsamples"
    // Background mutation calculation: --use-local --global --covariate-clustered
    background_mut_calc = "--use-local"
    min_clust_size = 3
    ap_iters = 1000
    // ap_convits need to be updated with the default value.
    ap_convits = 50
    ap_algorithm = "slow"
    hotspot_distance = 50
    min_hs_vars = 3
    min_hs_samps = 2
    // snps_only: --snps-only or null
    snps_only = "--snps-only"
    // blacklist: --blacklist <path> or null
    blacklist = null
    mut_prefix = "test"

    // OncodriveFML parameters
    run_oncodrivefml = false
    // elements: update this path according to dhelix or container.
    elements = "MANE.GRCh38.v1.0.ensembl_genomic.gtf.gz"
    sequencing = "wgs"
    sample_blacklist = null
    no_indels = null
    configuration = null
    build = "hg38"
    // signature method: full complemented none bysample file
    signature_method = "full"
    classifier = "sample"
    only_mapped_mutations = null
    include_mnp = null
    discard_mnp = false
    normalise_by_sites = null
    // scoring file: file
    statistics_method =	"amean"
    statitsics_per_sample_analysis = null
    sampling = 100000
    sampling_max = 1000000
    sampling_chunk = 100
    sampling_min_obs = 3
    indels_include = true
    method = "max"
    max_consecutive = 7
    gene_exomic_frameshift_ratio = null
    stops_function = "mean"
    // mean_to_stop_function: i'm not sure what to set this.
    mean_to_stop_function = null
    minimum_number_of_stops = null
    // It might not be a good idea to let the user decide on the number of cores.
    cores = null

    // dNdScv parameters
    run_dndscv = true
    refdb = "/usr/src/app/data/RefCDS_human_GRCh38_GencodeV18_recommended.rda"
    // dndscv_gene_list: provide "--genelist GENE_NAME1 GENE_NAME2" OR null to include all genes in the analysis.
    dndscv_gene_list = null
    sm = "192r_3w"
    // kc: provide "--known_cancer_genes GENE_NAME1 GENE_NAME2" OR null for default genes (cgc81).
    kc = null
    cv = "covariates_hg19_hg38_epigenome_pcawg.rda"
    max_muts_per_gene_per_sample = 3
    max_coding_muts_per_sample = 20000
    // use_indel_sites: use "--indels" to include indels or null to not include them.
    use_indel_sites = "--indels"
    min_indels = 5
    maxcovs = 20
    // constrain_wnon_wspl: This flag constrains wnon to wspl. Use "--wnon_constrain" to include this flag in the analysis.
    constrain_wnon_wspl = "--wnon_constrain"
    name = "dndscv"
    outp = 3
    numcode = 1
    mingenecovs = 500

}
