tool_params {

    // MutEnricher parameters
    run_mutenricher = false
    // anno_type = "/path/to/nonsilent_terms.txt"
    anno_type = "cellbase"
    // gtf_gene_model_info: update this path according to dhelix or container.
    gtf_gene_model_info = "/mnt/v1.0/MANE.GRCh38.v1.0.ensembl_genomic.gtf.gz"
    // gene_list: provide "--gene-list <path>" OR null.
    gene_list = null
    // covariates_file: provide "--coveriates-file <path>" OR null.
    covariates_file = null
    // weights: provide "----covariate-weights <path>" OR null.
    weights = null
    // stat_type: nsamples = binomial test. nmutations = negative binomial test (the significance of mutation counts within genes/regions.)
    stat_type = "nsamples"
    // Background mutation calculation: --use-local --global --covariate-clustered
    background_mut_calc = "--use-local"
    min_clust_size = 3
    ap_iters = 1000
    // ap_convits need to be updated with the default value.
    ap_convits = 50
    ap_algorithm = "slow"
    hotspot_distance = 50
    min_hs_vars = 3
    min_hs_samps = 2
    // snps_only: --snps-only or null
    snps_only = "--snps-only"
    // blacklist: --blacklist <path> or null
    blacklist = null
    mut_prefix = "test"

    // OncodriveFML parameters
    run_oncodrivefml = false
    // elements: update this path according to dhelix or container.
    elements = "MANE.GRCh38.v1.0.ensembl_genomic.gtf.gz"

    sequencing = "wgs"  // not using atm
    sample_blacklist = null // not using atm
    configuration = null  // not using atm

    build = "hg38"
    // signature method: full complemented none bysample file
    signature_method = "full"
    signature_path = null
    signature_column_ref = null
    signature_column_alt = null
    signature_column_prob = null
    signature_column_classifier = null
    signature_normalise_by_sites = 'whole_genome'
    // mutability
    mutability_adjusting = false
    mutability_file = null
    mutability_format = null
    mutability_chr = null
    mutability_chr_prefix = null
    mutability_pos = null
    mutability_ref = null
    mutability_alt = null
    mutability_mutab = null
    // depth
    depth_adjusting = false
    depth_file = null
    depth_format = null
    depth_chr = null
    depth_chr_prefix = null
    depth_pos = null
    depth_depth = null
    // score
    score_file = "/re_scratch/cb_onfml/oncodrivefml_resources/genomicscores/caddpack/1.6-20200324/whole_genome_SNVs.tsv.gz"
    score_format = 'tabix'
    score_chr = 0
    score_chr_prefix = ''
    score_pos = 1
    score_ref = 2
    score_alt = 3
    score_score = 5
    score_element = null
    // statistic
    statistic_method =	"amean"
    statistic_discard_mnp = false
    statistic_per_sample_analysis = null
    statistic_sampling = 100000
    statistic_sampling_max = 1000000
    statistic_sampling_chunk = 100
    statistic_sampling_min_obs = 10
    // indels
    indels_include = true
    indels_max_size = 20
    indels_method = "max"
    indels_max_consecutive  = 7
    indels_gene_exomic_frameshift_ratio = false
    indels_stops_function = "mean"
    indels_minimum_number_of_stops = null
    //settings
    settings_cores = null
    settings_seed=123

    // dNdScv parameters
    run_dndscv = true
    refdb = "/usr/src/app/data/RefCDS_human_GRCh38_GencodeV18_recommended.rda"
    // dndscv_gene_list: provide "--genelist GENE_NAME1 GENE_NAME2" OR null to include all genes in the analysis.
    dndscv_gene_list = null
    sm = "192r_3w"
    // kc: provide "--known_cancer_genes GENE_NAME1 GENE_NAME2" OR null for default genes (cgc81).
    kc = null
    cv = "covariates_hg19_hg38_epigenome_pcawg.rda"
    max_muts_per_gene_per_sample = 3
    max_coding_muts_per_sample = 20000
    // use_indel_sites: use "--indels" to include indels or null to not include them.
    use_indel_sites = "--indels"
    min_indels = 5
    maxcovs = 20
    // constrain_wnon_wspl: This flag constrains wnon to wspl. Use "--wnon_constrain" to include this flag in the analysis.
    constrain_wnon_wspl = "--wnon_constrain"
    name = "dndscv"
    outp = 3
    numcode = 1
    mingenecovs = 500

}
