tool_params {

    // MutEnricher parameters
    run_mutenricher = true,
    anno-type = "/path/to/nonsilent_terms.txt",
    // gtf_gene_model_info: update this path according to dhelix or container.
    gtf_gene_model_info = MANE.GRCh38.v1.0.ensembl_genomic.gtf.gz,
    gene-list = null,
    covariates-file = null,
    weights = null,
    // stat-type: nsamples = binomial test. nmutations = negative binomial test (the significance of mutation counts within genes/regions.)
    stat-type = "nsmaples",
    // Background mutation calculation: -- use-local, --global, --covariate-clustered
    background_mut_calc = "--use-local",
    min-clust-size = null,
    ap-iters = null,
    // ap-convits need to be updated with the default value.
    ap-convits = null,
    ap-algorithm = "slow",
    hotspot-distance = 50,
    min-hs-vars = 3,
    min-hs-samps = 2,
    snps-only = false,
    blacklist = null,

    // OncodriveFML parameters
    run_oncodrivefml = true,
    // elements: update this path according to dhelix or container.
    elements = "MANE.GRCh38.v1.0.ensembl_genomic.gtf.gz",
    sequencing = "wgs",
    sample-blacklist = null,
    no-indels = null,
    configuration = null,
    build = "hg38",
    // signature method:	full, complemented, none, bysample, file
    signature_method = "full",
    classifier = "sample",
    only_mapped_mutations = null,
    include_mnp = null,
    discard_mnp = false,
    normalise_by_sites = null,
    // scoring file: file,
    statistics-method =	"amean",
    statitsics-per_sample_analysis = null,
    sampling = 100000,
    sampling_max = 1000000,
    sampling_chunk = 100,
    sampling_min_obs = 3,
    indels-include = true,
    method = "max",
    max_consecutive = 7,
    gene_exomic_frameshift_ratio = null,
    stops_function = "mean",
    // mean_to_stop_function: i'm not sure what to set this.
    mean_to_stop_function = null,
    minimum_number_of_stops = null,
    // It might not be a good idea to let the user decide on the number of cores.
    cores = null,

    // dNdScv parameters
    run_dndscv = true,
    refdb = "hg38",
    gene_list = null,
    sm = "submod_192r_3w",
    kc = "cgc81",
    cv = "covariates_hg19_hg38_epigenome_pcawg.rda",
    max_muts_per_gene_per_sample = 3,
    max_coding_muts_per_sample = 5000,
    use_indel_sites = true,
    min_indels = 5,
    maxcovs = 20,
    constrain_wnon_wspl = true,
    name = "dndscv",
    // I could not match the following parameters: loc_sv_type, gennum
    loc_sv_type = 0,
    gennum = 0

}